<% stylesheet_link_tag 'individual_user' %>
<h1>Individual User</h1>
<section class='user-header'>
  <div class='user-info'>
    <h2 class='user-name'><%= @user.name %></h2>
    <p class= 'user-posts'>Number of Posts: <%= @user.posts_counter %></p>
  </div>
</section>
  <div class='user-bio'>
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>
  <% if @user.last_posts.any? %>
    <section class='user-posts'>
      <h2>Recent Posts</h2>
      <% @user.last_posts.each do |post| %>
        <div class='post-card'>
          <h3 class='post-title'><%= post.title %></h3>
          <p class='post-text'><%= post.text %></p>
          <div class='post-likes-comments'>
            <p class='post-likes'>Likes: <%= post.likes_counter %></p>
            <p class='post-comments'>Comments: <%= post.comments_counter %></p>
          </div>
        </div>
          <% end %>
      </section>

      <%= link_to user_posts_path(@user.id), class:'posts-button' do %>
        <p>See all posts</p>
      <% end %>
    <% else %>
      <p class='no-posts'>This user has no posts yet</p>
    <% end %>