<h1>Show posts by user ID</h1>
<% if @post %>
    <section class='post-list'>
      <div class='post-card'>
        <h3 class='post-title'>"<%= @post.title %>" by <%= @post.author.name %></h3>
        <p class='post-text'><%= @post.text %></p>
        <div class='post-likes-comments'>
          <p class='post-likes'>Likes: <%= @post.likes_counter %></p>
          <p class='post-comments'>Comments: <%= @post.comments_counter %></p>
        </div>
        <hr />
        <div class='comments'>
          <% @post.comments.each do |comment| %>
              <div class='comment'>
                <p class='user-comment'><%= comment.author.name %>: </p>
                <p class='comment-text'><%= comment.text %></p>
              </div>
          <% end %>
        </div>
      </div>
    </section>
<% else %>
  <h1>Post not found</h1>
<% end %>

<%= form_with url: '/likes/new' do |form| %>
  <%= form.hidden_field :post_id, value: @post.id %>
  <%= form.submit 'Add a Like' %>
<% end %>
<%= link_to 'Create Comment', "/comment/new/#{@post.id}" %>